@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);
body{
  width:100%;

  background-image: url('../static/images/2.jpg');
 
  background-repeat: no-repeat;
  background-size: 2300px 1300px;
  height: 708px;
  
}

html, body {
    margin: 0;
    padding: 1px;
    font-family: Arial, Helvetica, Sans-serif;
    background-color: #070617;
}


img {
  height: 2300px;
  width: 1500px;
}


.CarsInput {
  background-color: rgb(155, 218, 29);
  font-size: larger;
}

/* This navigation for index html */
.navbar {
	overflow: hidden;
	background-color: #333;
	 position: fixed;/* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 108%; /* Full width */
	padding: 20px;
  font-weight: bolder;
  }
  
  /* Links inside the navbar */
  .navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;

  }
  .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-bottom-width: 2px;
    border: 2px solid;
    text-align: center;
}

  .navbar a:hover { 
    background: rgb(242, 240, 240);
    color: rgb(207, 24, 24);
    } 


    .navbar>li>a {
      display: block;
      padding: -1px 74px 22px 59px;
      font-size: 30px;
      margin: 6px 8px 9px 218px;
    }

    .nav>li>a:hover {
      background: rgb(242, 240, 240);
      color: rgb(0, 0, 0);
  }

  .navbar>li {
    position: relative;
    display: block;
}
/* end */


/* result css nav */
.nav {
	overflow: hidden;
	background-color: #333;
	 position: fixed;/* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 108%; /* Full width */
	padding: 20px;
  font-size: 30px;
  font-weight: bolder;
  }

.nav:hover {
  color:#f2f2f2;
}
  
  /* Links inside the navbar */
  .nav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;

  }

  .data {
   
    padding: 31px;
    margin: 5px;
}

  about{
    margin: 0px;
    padding: 0px;
  }
 
  result
  {
    padding: 0px;
    text-align: end;
    margin: 11px 117px 0px 76px;
    padding: -10px 14px -15px 34px;
}

 home
    {
      padding: 0px;
      text-align: end;
      margin: 21px 61px 15px 46px;
      padding: -10px 14px -15px 34px;
  }
  
    /* Change background on mouse-over  */
    .nav a:hover { 
      background: #f2f2f2;
      color:#cb2626;
      } 

      .nav>li>a:hover {
        text-decoration: none;
        background-color: #ebe9e9;
    }
  
  /* Main content */
  .main {
	margin-top: 30px; /* Add a top margin to avoid content overlay */
  }




.nav>li>a {
  display: block;
  padding: -1px 74px 22px 59px;
  font-size: 30px;
  margin: 6px 8px 9px 45px;
}



/* 
heading navigation bar colour */
a {
  color: #db951d;
}

/* navigation bar code ends here */

/* started now  */

.text-primary, .list-wrapper .completed .remove, .horizontal-menu .bottom-navbar .page-navigation>.nav-item.mega-menu .submenu .category-heading {
  color: #F85924 !important;
}

/* for iput container */
.card{
  background-color:#5CB3FF;
  
  margin: 165px 307px;
  padding: 3px;
  text-align: center;
}

.stretch-card>.card {
    min-width: 100%;
    margin: 0px 155px 7px 154px;
    padding: 0px 234px 60px 196px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .lightGallery .image-tile, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
  

.page-body-wrapper {
  padding-left: 0;
  padding-right: 0;
}

.main-panel {
  background: rgba(247, 247, 244, 0.815);
  width: 100%;
  padding: 37px 178px;
  margin: auto;
}

#start{
  font-size: 13px;
  padding: 3px 16px 0px 8px;
    margin: 8px 11px 14px 9px;
}  


#End {
  font-size: 13px;
  padding: 3px 16px 0px 8px;
    margin: 8px 11px 14px 9px;
}

#cars{
  margin: 0px 25px 32px 0px;
}

form {
  margin: 83px 2px;
}
p {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 22px;
}

.btn {
  display: inline-block;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  
  touch-action: manipulation;
  cursor: pointer;
  

 
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 8px 0px 0px 15px;
}


/*  
for enter details */
.h4, h4 {
  font-size: 25 px;
    /* width: 0; */
    margin: -3px -3px 0px -3px;
    padding: -6px 485px;
    font-weight: bold;
    font-family: 'Nanum Gothic';
    font-size: 3rem;
    background: rgb(9, 79, 219);
}


/* start and end year */
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 22px;

}

.card-body {
  margin: 16px 1px 81px 0px;
  background-color: #F85924;
}

.container-fluid {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;


}
.checkboxes{
margin: 0px -4px 24px -4px;
  padding: 18px 0px;
}


.table-bordered {
  margin: 124px 175px;
  font-size: 20px;
  background-color: #f2f2f2;
  text-align: center;
  border: 2px solid;

}


table {
  border-spacing: 0;
  border-collapse: inherit;
}



.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border-bottom-width: 2px;
  border: 2px solid;
}

.table-bordered>tbody>tr>td {
  border: 2px solid;
}

.table-bordered>tbody>tr>th{
  border: 2px solid ;
}
.table-bordered>tbody>tr>th {
  border: 2px solid;
  padding: 5px;
}

.table-bordered>tbody>tr>td {
  border: 2px solid;
  padding: 2px 14px;
}

.container {
  margin: -23px 20px 29px 19px;
  padding-right: 623px;
height: 1400px;
}

.main-panel {
width: 227%;
}

.content-wrapper {
  max-width: 74%;
}

form {
  margin: 95px 147px;
}

#container{
  width: 550px;
  height: 2000px;
  margin: 0px auto;
  overflow: hidden;
}


.colr{
    margin: 121px 222px;
   background-color: #a99de7; 
    padding: 18px;

}


/* Footer */

html,body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Sans-serif;
  background-color: #070617;
}
.dummy_page {
  height: 200px;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  box-sizing: border-box;
  padding: 60px 0px;
}
/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
