<!DOCTYPE html>
<html lang="en">
<>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/style.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        <iframe width="450px" height="400" src="https://gaadiwaadi.com/10-cars-with-highest-waiting-period-in-india-in-april-2022/" frameborder="0"> </iframe>
        <iframe width="450px" height="400" src="https://gomechanic.in/blog/cars-with-highest-waiting-period-february-2022/" frameborder="0"> </iframe>
        <iframe width="450px" height="400" src="https://gaadiwaadi.com/cars-with-highest-waiting-period-in-feb-2022-up-to-570-days/" frameborder="0"> </iframe>
        <iframe width="450px" height="400" src="https://www.cars24.com/blog/new-cars-with-highest-waiting-period-in-india/" frameborder="0"> </iframe>
        <iframe width="450px" height="400" src=".https://www.businessinsider.in/business/auto/news/top-cars-and-suvs-with-the-longest-waiting-period-in-india/slidelist/88393252.cms" frameborder="0"> </iframe>
        <iframe width="450px" height="400" src="https://www.cardekho.com/india-car-news/these-are-the-suvs-that-command-the-highest-waiting-periods-currently-28912.htm#leadForm
        " frameborder="0"> </iframe>
        <iframe width="465px" height="420" src="https://autotechportal.com/cars-with-most-waiting-periods-in-india-2022/" frameborder="0"> </iframe>
    </p>
<!-- Footer -->

<div class="footer">
    <div class="contain">
    <div class="col">
      <h1>Company</h1>
      <ul>
        <li>About</li>
        <li>Mission</li>
        <li>Services</li>
        <li>Social</li>
        <li>Get in touch</li>
      </ul>
    </div>
    <div class="col">
      <h1>Products</h1>
      <ul>
        <li>About</li>
        <li>Mission</li>
        <li>Services</li>
        <li>Social</li>
        <li>Get in touch</li>
      </ul>
    </div>
    <div class="col">
      <h1>Accounts</h1>
      <ul>
        <li>About</li>
        <li>Mission</li>
        <li>Services</li>
        <li>Social</li>
        <li>Get in touch</li>
      </ul>
    </div>
    <div class="col">
      <h1>Resources</h1>
      <ul>
        <li>Webmail</li>
        <li>Redeem code</li>
        <li>WHOIS lookup</li>
        <li>Site map</li>
        <li>Web templates</li>
        <li>Email templates</li>
      </ul>
    </div>
    <div class="col">
      <h1>Support</h1>
      <ul>
        <li>Contact us</li>
        <li>Web chat</li>
        <li>Open ticket</li>
      </ul>
    </div>
  
  <div class="clearfix"></div>
  </div>
  </div>


</body>
<style>
    body {
        background-color: aqua;
        margin: 2.4px;
        padding: 2.4px;
        box-sizing: border-box;
    }
</style>
</html>