<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title> Home Page</title>
    
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   <!-- Optional theme -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
   
<!--  Jquery Cdn   -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- highcharts -->

<script src = "https://code.highcharts.com/highcharts.js"></script> 
<script src = "https://code.highcharts.com/modules/data.js"></script>

<!-- Jquery Cdn -->

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    
    <div id="abc">
        <nav class="nav">
            <ul>
                <li><a href="http://localhost:5000/predict" style="font-weight:bolder;">Prediction System</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#news">News Articles</a></li>
                <!-- <li><a href="../templates/articles.html">News Articles</a></li> -->
            </ul>
        </nav>
    </div>
        <div class="container-fluid" style="background-image: url('../static/images/3.png'); background-size: 100% 100% ;">
          
            <h2 style="text-align:center;margin: 1px -22px 24px;font-weight: bolder;color: grey;" class="text- heading-text" ><raw> Raw Material Forecasting in Automotive Industry </raw></h2>
            <div class="text-center">
            <form action="http://localhost:5000/predict"><button class="btn btn-success " type="submit"><pred> Prediction System </pred></button></form>
           </div>

           <section id="about">
            <div class="hero-container">
                <div class="hero-logo">
        </div>
                </div>
                <h2 class="font-weight-bold"></h2>
                
            </div>
        </section>

        <section id="ABOU" class="variety pt-4">
            <p>
               <h1 style="text-align:center ;">About</h1>

            </div></br></br>
            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-img">
                            <img src=" " alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a>Add something</a>
                            </h5>
                            <p class="card-text">
                              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis quam, hic, consectetur, quidem labore magnam reiciendis reprehenderit explicabo in sint libero. Odio quaerat ab, similique mollitia repudiandae suscipit neque expedita.
                            </p>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-img">
                            <img src=" " alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a>Add something</a>
                            </h5>
                            <p class="card-text">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nisi voluptates atque sint. Ad beatae reprehenderit excepturi a? Perspiciatis blanditiis reiciendis accusamus cum atque officiis numquam recusandae impedit quaerat autem.
                            </p>
            </p>
        </section>
        </section>
        <section id="news">
            <h1 style="text-align:center ;padding: 20px;"> News Articles</h1>
            </p>
                <iframe width="450px" height="400" src="https://gaadiwaadi.com/10-cars-with-highest-waiting-period-in-india-in-april-2022/" frameborder="0"> </iframe>
                <iframe width="450px" height="400" src="https://gomechanic.in/blog/cars-with-highest-waiting-period-february-2022/" frameborder="0"> </iframe>
                <iframe width="450px" height="400" src="https://gaadiwaadi.com/cars-with-highest-waiting-period-in-feb-2022-up-to-570-days/" frameborder="0"> </iframe>
                <iframe width="450px" height="400" src="https://www.cars24.com/blog/new-cars-with-highest-waiting-period-in-india/" frameborder="0"> </iframe>
                <iframe width="450px" height="400" src="https://www.indiacarnews.com/news/indias-top-5-suvs-with-highest-waiting-period-march-2022-51265/" frameborder="0"> </iframe>
                <iframe width="465px" height="420" src="https://autotechportal.com/cars-with-most-waiting-periods-in-india-2022/" frameborder="0"> </iframe>
            </p>
        </section>
</body>
</html>